<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - TheArchive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth_style.css') }}">
</head>
<body>
    <div class="container">
       <form>
            <input name="email" type="email" placeholder="Email" required>
            <button type="submit">Reset Password</button>
        </form>
        <div class="links">
            <a href="{{ url_for('login')}}">Back to Login</a>
        </div>
    </div>
</body>
</html>

